{% extends 'main/index.html' %}
{% load static %}

{% block title %}Пустыни{% endblock %}

{% block body %}
<div class="desert">
    <b>Пустыни: Суровая красота и уникальная экосистема</b>
    <p></p>
    Пустыни представляют собой одни из самых жестоких и экстремальных экосистем на Земле. Они занимают около 30% поверхности планеты и характеризуются низким уровнем осадков и суровыми температурными условиями. 
    Несмотря на свою кажущуюся бесплодность, пустыни полны жизни и необыкновенных адаптаций. Животные и растения, обитающие в пустынях, развили уникальные механизмы для выживания в условиях нехватки воды и высоких температур.
    <p></p>Пустыни также содержат богатые ресурсы, такие как полезные ископаемые и соляные отложения. Однако изменение климата и человеческая деятельность угрожают этим хрупким экосистемам. Защита пустынь и их обитателей имеет решающее значение для обеспечения устойчивости этих экосистем.
</div>

<div class="img_deserts">
    <img src="{% static 'main/img/deserts/1.jpg' %}" alt="Пустыня 1">
    <img src="{% static 'main/img/deserts/2.jpg' %}" alt="Пустыня 2">
    <img src="{% static 'main/img/deserts/3.jpg' %}" alt="Пустыня 3">
</div>

{% endblock %}