{% extends 'main/index.html' %}
{% load static %}

{% block title %}Леса{% endblock %}

{% block body %}
<div class="forest">
    <b>Леса: Зеленые легкие нашей планеты</b>
    <p></p>
    Леса занимают значительную часть нашей планеты и являются важными экосистемами, которые предоставляют множество услуг как природе, так и человечеству. Они изготовляют кислород, который мы дышим, поглощают углекислый газ и помогают стабилизировать климат. 
    Леса служат домом для более чем 80% наземных животных, птиц, насекомых и растений. Леса играют ключевую роль в поддержании биологического разнообразия и обеспечении ресурсов, таких как древесина, лекарства и продукты питания.
    <p></p>Однако леса находятся под угрозой из-за вырубки, сельскохозяйственной деятельности и изменения климата. Защита лесов и восстановление деградированных экосистем имеют критическое значение для устойчивого будущего.
</div>

<div class="img_forests">
    <img src="{% static 'main/img/forests/1.jpg' %}" alt="Лес 1">
    <img src="{% static 'main/img/forests/2.jpg' %}" alt="Лес 2">
    <img src="{% static 'main/img/forests/3.jpg' %}" alt="Лес 3">
</div>
{% endblock %}