{% extends 'main/index.html' %}

{% block title %}Главная{% endblock %}


{% block body %}
<b>Добро пожаловать на нашу страницу о природе!
    На нашем сайте вы сможете углубиться в удивительный мир природы и узнать о её величии, разнообразии и важности для жизни на Земле. Мы рады представить вам информацию о самых уникальных экосистемах, таких как 
    <p></p>
    Леса, которые являются легкими нашей планеты, предоставляя кислород и укрытие бесчисленным видам флоры и фауны.
    Вода, которая жизненно важна для существования всех живых организмов. Узнайте о реках, океанах и источниках пресной воды, и как мы можем защищать эти ресурсы.
    Пустыни, удивительные экосистемы с богатым биоразнообразием, где жизнь находит способ выживания в самых экстремальных условиях.
    Наша миссия
    Мы стремимся повысить ос Awareness о сохранении окружающей среды и важности устойчивого и ответственного отношения к природе. Понимание природы помогает нам принимать меры для её защиты. 
    <p></p>
    Как вы можете помочь?
    Образование: Узнайте больше о состоянии окружающей среды, экосистемах и их жителях.
    Участие: Присоединяйтесь к мероприятиям по охране окружающей среды и очистке территорий.
    Поддержка: Поддерживайте экологические организации и проекты.
    Присоединяйтесь к нам
    Исследуйте наш сайт, чтобы узнать больше о воде, лесах и пустынях. Все мы можем внести свой вклад в защиту природы и создание лучшего будущего для нашей планеты. 
    </b>
{% endblock %}

