{% extends 'main/index.html' %}
{% load static %}

{% block title %}Вода{% endblock %}

{% block body %}
<div class="water">
    <b>Вода: Жизнь на планете</b>
    <p></p>
    Вода — это основа жизни на Земле. Она занимает около 71% поверхности планеты и является ключевым элементом всех живых организмов. Без воды жизнь, как мы ее знаем, была бы невозможна. 
    Реки, моря, океаны и озера не только предоставляют среду обитания для множества организмов, но и играют важную роль в поддержании климата на Земле. Вода участвует в цикле, который включает испарение, конденсацию и выпадение осадков, обеспечивая тем самым дар дождя, необходимый для растений и животных.
    <p></p>К сожалению, чистая пресная вода становится всё более дефицитом из-за загрязнения, чрезмерного использования и изменения климата. Бережное отношение к водным ресурсам, охрана экосистем и использование новейших технологий для очистки и сохранения воды имеют первостепенное значение для сохранения этого драгоценного ресурса.
</div>

<div class="img_water">
    <img src="{% static 'main/img/water/1.jpg' %}" alt="">
    <img src="{% static 'main/img/water/2.jpg' %}" alt="">
    <img src="{% static 'main/img/water/3.jpg' %}" alt="">
</div>
{% endblock %}